<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO</title><!-- se le da el nombre a la pestaña--> 
</head>
<body>
    <form  method="POST" action="/registro">
        <label for="nombre">Nombre del estudiante : </label><!-- se define el campo de la pregunta y donde se escribe--> 
        <br><!-- coloca un espacio--> 
        <input type="text"name="nombre">
        <br><!-- coloca un espacio--> 
        <label for="correo">Correo del estudiante :</label>
        <br><!-- coloca un espacio--> 
        <input type="email" name="correo" id="">
        <br><!-- coloca un espacio--> 
        <button type="submit">Enviar</button>

    </form>

    <h2>Listado de estudiantes<h2>
        <ul>
        {% for estudiante in listado %}
        <li>{{ estudiante.nombre }} - {{ estudiante.correo}}</li>
        {% endfor %}
    </ul>
    






</body>
</html>